flask
flask-cors
fastapi
pydantic
langchain-community
redis
langchain
langchain-ollama
langchain-text-splitters
tzdata
chardet
openai
langchain-openai
gunicorn
#pytubefix
moviepy==1.0.3
ffmpeg-python
fake-useragent
yt-dlp
psycopg2-binary
sqlalchemy
pgvector
numpy
